@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html {
	font-size: 15px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: lightgrey;
	height: 100vh;
}
main {
	width: 300px;
	min-width: 300px;
	background: white;
	padding: 20px;
	border-radius: 1rem;
	font-family: Outfit, sans-serif;
}
main img {
	width: 100%;
	border-radius: inherit;
}
h2, p {
	text-align: center;
	margin: 10px;
}
h2 {
	font-size: 1.5rem;
}
p {
	font-size: 1rem;
}
.attribution {
	font-family: Outfit, sans-serif;
	margin: 10px;
}